<a href="https://colab.research.google.com/github/QDAE-KSH/media_project/blob/master/SSAFY_200113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SSAFY 20.01.13

#챗봇 SW QUEST! 01

01 - 01 Python 기초

* (book) 모두의 파이썬
* (book) o'reilly  에서 다운로드

- python은 인터프리터 언어
- 다양한 라이브러리를 제공

출력 (Print)

In [1]:
print("Hello")

Hello

In [2]:
print(1)

1

In [3]:
print([1,2,3])

[1, 2, 3]

In [4]:
print("Hi", 123)

Hi 123

세미콜론(;)

- 세미콜론을 붙이지 않고 들여쓰기로 구분
- 세미콜론은 여러 구문을 한 줄에 사용할 때에만 사용

들여쓰기 (Indentation)
- {} 대신 들여쓰기로 코드 블록을 정의
- if, for 함수 등에서는 반드시
- 공백, 탭 등으로 들여쓰기
- 가이드라인은 공백 4칸을 권장
- 하나의 코드 블록에 서로 다른 개수의 공백이나 탭과 공백을 함께 사용 불가

In [5]:
if 5 < 7:
print("5 is less than 7")

IndentationError: ignored

In [6]:
if 5 < 7:
    print("5 is less than 7")

5 is less than 7

변수 (Variable)
- 변수는 값을 담는 공간
- 실제로는 메모리 내부에 저장
- 메모리 주소가 매핑
- 선언과 값 할당이 동시에 이루어짐
- '=' 연산자는 할당 연산자

In [9]:
message = "hellow world!"
print(message)

#동일한 변수에 새로운 값을 저장 가능
message = "hello python"
print(message)

hellow world!
hello python

In [8]:
# 참조에 타입이 관여하지 않음
x = 10
x = "Paul"
print(x)

Paul

명명 규칙 (Naming Rule)
- 문자, 숫자, '_' 를 사용할 수 있다.
- 대소문자 구분
- 공백은 사용 불가
- 숫자로 시작 불가
- 미리 예약된 이름 사용 불가
- 변수 이름은 최대한 의미있게 지어야 한다
- 줄임말은 최대한 지양
- 다른 사람이 읽어도 바로 파악 가능해야 함

데이터 타입 (Data Type)
- 숫자형 : int, float, complex
- 문자열 : str
- boolean : bool
- 시퀸스 : list, tuple, set
- 맵 : dict

In [21]:
x = 10
print(type(x))
x = "Tom"
print(type(x))
x = [1, 2, 3]
print(type(x))
x = True
print(type(x))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>

In [0]:
x = 10 #정수
y = 5.25 #소수
z = 1j #복소수

In [14]:
#정수형 길이에 제한이 없음
x = -8129310
y = 1928471298472194712948
print(x)
print(y)

-8129310
1928471298472194712948

In [15]:
# 숫자형 데이터 타입 변환
a = float(10)
b = int(5.25)
c = complex(1)
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'float'>
<class 'int'>
<class 'complex'>
10.0
5
(1+0j)

연산자
- +
- -
- *
- /
- % 나머지
- // 소수점 버림 나눗셈
- ** 제곱

할당연산자
- =
- +=
- -+
- *=
- /=
- %=
- //=
- **=

비교 연산자
- ==
- !=
- '>'
- '<'
- '>='
- <=

논리 연산자
- and
- or
- not


- 연산자는 우선순위가 있음
- 연산시 괄호를 사용하는 것이 좋음

Boolean

- 참, 거짓을 나타내는 데이터 타입

In [20]:
print(5 >= 3)
print(9 > 10)
print(10 != 11)
print(100 < 99)

True
False
True
False

문자열
- 문자가 나열된  형태의 데이터
- 가장 많이 사용 되는 데이터 타입
- " 또는 ' 를 사용

In [22]:
print("String")
print('also string')

String
also string

In [23]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

ada lovelace

In [24]:
message = "hello," + full_name + "!"
print(message)

hello,ada lovelace!

In [25]:
message = "hello," + full_name.title() + "!" #첫글자 대문자
print(message)

hello,Ada Lovelace!

In [26]:
age = 23
message "Happy" + age + "rd Birthday!"
print(message)

SyntaxError: ignored

In [28]:
age = 23
message = "Happy " + str(age) + "rd Birthday!" #타입 변환
print(message)

Happy 23rd Birthday!

In [30]:
print("Are you %s?" % 24) #문자열에 숫자 또는 문자열을 대입하기 위해 % 사용

Are you 24?

In [0]:
# 문자열 포맷

In [0]:
# 문자열 인덱싱
# 재할당 불가

In [0]:
# 문자열 슬라이싱

In [0]:
# 문자열 길이
# 문자열 교체

In [0]:
# 문자열 대/소문자 벼환
# 문자열 나누기

In [0]:
# 문자열 공백 없애기
# 문자열 체크

In [0]:
# 문자열 내 따옴표 표현
# 여러 줄을 표현

조건문
- 상태에 따라 프로그램의 분기를 결정

In [38]:
a = 23
b = 32
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
    pass # 어떤 작업도 실행하지 않음
else:
    print("a is greate than b")

b is greater than a

In [40]:
age = 26
price = 0

if age < 8:
    price = 5000
elif age >= 8 and age < 20: # 8 <= age < 20 ???
    price = 15000
elif age >= 20 and age < 60:
    price = 20000
else:
    price = 0

print(price)

20000

리스트
- 특정한 순서로 연결되어 있는 데이터의 집합
- 숫자, 문자열, 리스트 등 다양한 종류의 데이터를 넣을 수 있음
- 대괄호 기호를 이용하여 생성 '[ ]'

In [0]:
# 리스트 항목 참조
# zero based index
# 마이너스 index : 뒤에서부터 인덱싱

In [0]:
# 리스트 Slicing : sub list로 만듬
# start : end (:step) 형식

In [0]:
# 리스트 slicing을 활용한 looping

In [0]:
# 항목 수정
# 항목 추가 (.append)
# 항목 추가 (.insert)

In [0]:
# 항목 제거 (del)
# 항목 제거 (.pop)
# 항목 제거 (.remove) 앞에서부터 제거됨 ... 중복된 데이터 제거에 활용 가능

In [0]:
# 리스트 합치기 (+)
# 리스트 합치기 (.extend)

In [56]:
# type이 달라도 합치는 것이 가능
list1 = [1,2,3]
list2 = ['a','b','c']
list3 = list1 + list2
print(list3)

[1, 2, 3, 'a', 'b', 'c']

In [0]:
# 정렬
# .sort
# .sorted

In [0]:
# 순서
# . reverse()

In [0]:
# 길이 계산
# len()

In [0]:
# 갯수 새기
# .count()

반복문

In [0]:
# while

In [0]:
# for

In [0]:
# with list

In [0]:
# range

In [0]:
# range 와 append 활용

통계

In [0]:
# min
# max
# sum

리스트 복사
- 확인 필요

튜플
- 순서가 있음
- '()' 기호를 사용하거나 생략
- 재할당 불가

In [0]:
# 패킹 언패킹 활용

딕셔너리
- key / value  형태의 자료구조
- key 값으로 value를 조회 가능
- list와 혼합된 형태로 사용 가능
- '{}' 기호를 사용하여 생성

In [0]:
# 항목 추가

In [0]:
# 항목 변경

In [0]:
# 항목 제거

In [0]:
# 접근

In [72]:
content_ratings = {'4+':4433, '9+':987, '12+':1155, '17+':622}
print(content_ratings)

over_9 = content_ratings['9+']
over_17 = content_ratings['17+']
print(over_9)
print(over_17)

content_ratings = {}
print(content_ratings)
content_ratings['4+'] = 4433
print(content_ratings['4+'])

{'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}
987
622
{}
4433

In [0]:
# 타입 테스트1

In [81]:
# 타입 테스트2
d = {
    4 :'four',
    1.5 : 'one pint five',
    'string_key' : 'string_value',
    True: 'True',
    #{10:'ten'} : 'dict', # dict key (X) 
    #[1, 2, 3] : 'list' # list key (X)
}
print(d)

{4: 'four', 1.5: 'one pint five', 'string_key': 'string_value', True: 'True'}

딕셔너리 looping  활용

In [88]:
for x, y in d.items():
    print(x,y)

for x in d:
    print(x)

for x in d:
    print(d[x])

for x in d.values():
    print(x)

4 four
1.5 one pint five
string_key string_value
True True
4
1.5
string_key
True
four
one pint five
string_value
True
four
one pint five
string_value
True

In [0]:
# key가 있는지 체크

In [0]:
# 길이

In [0]:
# 다중 딕셔너리
# JSON이 이 형태를 사용

In [96]:
# 연습문제 1
apps_of_ages = {'4+':4433, '9+':987, '12+':1155, '17+':622}
totla_apps = 7197
ratios = {}
percentages = {}

for x in apps_of_ages:
    ratios[x] = apps_of_ages[x] / totla_apps
    percentages[x] = ratios[x] * 100

print(ratios)
print(percentages)

{'4+': 0.6159510907322495, '9+': 0.13714047519799916, '12+': 0.16048353480616923, '17+': 0.08642489926358204}
{'4+': 61.595109073224954, '9+': 13.714047519799916, '12+': 16.04835348061692, '17+': 8.642489926358204}

In [0]:
# 연습문제 2

함수
- 이름이 붙여진 코드의 블록
- 특정한 태스크를 반복 수행 가능
- 입력과 출력이 존재 (입력 : 파라미터 , 출력 : 리턴값)
- 다른 코드에서 사용 될 수 있음 - 함수호출

In [100]:
def greet_user(username):
    print("Hello " + username.title() + "!")

greet_user("kim")

Hello Kim!

In [103]:
def describe_pet(animal_type, pet_name):
    print("\nI have a " + animal_type + ".")
    print("My" + animal_type+ "'s name is " + pet_name.title() + ".")

describe_pet('dog', 'willie1')
describe_pet('dog', 'willie2')

I have a dog.
Mydog's name is Willie1.

I have a dog.
Mydog's name is Willie2.

In [0]:
# 키워드를 이용하여 파라미터를 전달하는 방식도 있음

In [106]:
# 인자의 디폴트 값
def describe_pet(pet_name ,animal_type = 'dog'):
    print("\nI have a " + animal_type + ".")
    print("My" + animal_type+ "'s name is " + pet_name.title() + ".")

describe_pet('wille')

I have a dog.
Mydog's name is Wille.

In [0]:
# optional (if)

In [0]:
# 함수의 리턴값 사용

In [0]:
# 딕셔너리의 리턴

In [0]:
# 리스트를 인자로 넘기기

In [111]:
# 가변인자
def make_pizza(*toppings):
    print(toppings)

make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

('pepperoni',)
('mushrooms', 'green peppers', 'extra cheese')

In [114]:
# 키워드 가변 인자
def build_profile(first, last, **user_info):
    profile = {}
    profile['first_name'] = first_name
    profile['last_name'] = last_name
    for key, value in user_info.items():
        profile[key] = value
    return profile

user_profile = build_profile('albert', 'einstein', location = 'princeton', filed = 'physics')
print(user_profile)

{'first_name': 'ada', 'last_name': 'lovelace', 'location': 'princeton', 'filed': 'physics'}

In [122]:
# 연습문제 2
def avg(*socres):
    sum = 0
    for score in socres:
        sum += score
    
    return sum/ len(socres)

avg(90, 70, 80, 75)

78.75

01 - 02 데이터 크롤링 시작하기